.dialogs{
 display:grid;
 grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding:10%;
    color:white;
}
.dialogsItems .active{
    color:white;
}

.messages{
   padding:2%;
}
.messages .message{
    color:white;
}
